.main-header .sidebar-toggle:before {
  content: "";
}

.content-wrap {
  min-height: 0 !important;
  overflow: auto;
}
.img-logo img {
  width: 150px;
  background: black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.img-logo h2 {
  text-align: center;
}